MONGO_URI=mongodb://localhost:27017
DB_NAME=evient_pos
JWT_SECRET=your-super-secret-key
JWT_EXPIRATION=28800

API_BASE_URL=http://localhost:8000/api
CASH_DRAWER_COMMAND=\x1B\x70\x00\x19\xFA
BAUD_RATE=9600
BARCODE_TIMEOUT=100
ITEMS_PER_PAGE=20

SERVER_SERIAL_PORT=
VIETQR_BANK_ID=970436
VIETQR_ACCOUNT_NO=0123456789
VIETQR_ACCOUNT_NAME=NGUYEN VAN A

VAT_RATE=5
